<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <form method="post" action="/users">
    <label for="username">Username: </label>
    <input id="username" type="text" placeholder="username" name="username">
    <label for="email">Email: </label>
    <input id="email" type="email" placeholder="email" name="email">
    <label for="password">Password: </label>
    <input id="password" type="password" placeholder="password" name="password">
    <input type="submit" value="sign up">
  </form>
</body>
</html>
